<% provide(:title, current_user.name) %>
<div class="profile-container">
    <aside>
        <section>
            <h1>
                <%= gravatar_for @user , class: "gravatar-profile"%>
                <span><%= @user.name %></span>
            </h1>
        </section>
    </aside>
    <div class="microposts-container">
        <% if @user.microposts.any? %>
        <h3>Microposts (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
            <%= render @microposts %>
        </ol>
        <%= will_paginate @microposts %>
        <% end %>
    </div>
</div>